 *{ 
    background: rgb(0, 0, 0); 
   } 
    
     .header{ 
    background:#010113; 
   } 
    
   .nev_link{ 
       text-decoration: none; 
       color: rgb(253, 250, 250); 
   } 
    
   *{ 
     margin: 0; 
     padding: 0; 
   } 
    
   .container{ 
     max-width: 1000px; 
     margin: 0 auto; 
   } 
    
   .header{ 
     background: #000000; 
   } 
    
   .header_container{ 
     display: flex; 
     align-items: center; 
     justify-content: space-between; 
   } 
    
   .nav_list{ 
     display: flex; 
     align-items: center; 
     list-style: none; 
     justify-content: center; 
     gap: 30px; 
   } 
    
   .nav_link{ 
     color: white; 
     text-decoration: none; 
     font-size: 14px; 
      
   } 
    
   .btn{ 
     text-decoration: none; 
     border: none; 
     outline: none; 
     color: white; 
     background: rgba(121, 16, 157, 1); 
     padding: 8px 20px; 
     border: 10px; 
   } 
    
   .main{ 
     background: rgb(206, 34, 34); 
   } 
 
   .langSelectorWrp{ 
    display: flex; 
    align-items: center; 
    list-style: none; 
    justify-content: center; 
    gap: 30px; 
  }